.DS_Store
*.pyc
*.pyo
*.pyd
*.pyi
*.pyw
*.pyz
*.pyzw
*.ipynb_checkpoints/
venv/
env/
dist/
build/
*.egg-info/
_pycache__/
.idea/
.vscode/
node_modules/
DK/OreganTrail/saves/*.json
DK/OreganTrail/data/generated/*.json